secrets.mjs
.nginx/domains/*
.nginx/nginx.conf
.certs/*
.http01-challenge/*
.logs/*
.idea
scratch.html
node_modules
jspm_packages
test_modules
.npm
data.json
package-lock\.json
.npmrc
.env
*.snap
*.heapsnapshot
.vscode/
server.cert
server.key
